body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    /* background-color: #2f0009; */
    background-color: #000;
}

.feedback-container {
      /* background-image: repeating-linear-gradient(0deg, hsla(202,0%,65%,0.08) 0px, hsla(202,0%,65%,0.08) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(90deg, hsla(202,0%,65%,0.08) 0px, hsla(202,0%,65%,0.08) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); */
      background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
  }
  
  .emoji-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    border: 4px solid white;
    box-shadow: 0 0 10px #0000003c;
  }
  
  .far {
    margin: 1px;
    transform: translateX(0);
    transition: transform 0.2s;
  }
  
  .rating-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
  }
  
  .fa-star {
    color: #bdbdbdc2;
    cursor: pointer;
    -webkit-text-stroke: 3px #bdbdbdc2;
  }
  
  .fa-star.active {
    color: #f0ac00;
    /* filter: drop-shadow(0 0 4px #d4d400); */
  }
  button{
    background: #000;
    color: #907a00;
    border: 1px solid #907a00;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    padding: 0.4rem 2rem;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }
  button:hover{
    background: #907a00;
    color: #000;
  }