* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    position: relative;
}
::selection{
    color: transparent;
}
#info {
    color: transparent;
    background: linear-gradient(to right, rgb(222, 255, 193), #bbffea);
    font-size: 1.5vw;
    font-weight: 800;
    -webkit-background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.btn-class-name {
    /* --primary: 255, 90, 120;
    --secondary: 150, 50, 60; */
    --primary: 255, 36, 76;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
    position: absolute;
    top: 5%;
    right: 5%;
}

.btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
    font-size: 1vw;
    cursor: pointer;
}

.btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
}

#cursor-follow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(60px);
    pointer-events: none;
}

#heading {
    width: 89vw;
    color: transparent;
    font-size: 8vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.5vw;
    text-align: center;
    position: absolute;
    top: 15%;
    span {
        transition: all 0.4s;
        text-transform: uppercase;
        position: relative;
    }
}
@media (max-width: 500px) {
    #info{
        font-size: 3vw;
    }
    .btn-class-name{
        width: 30px;
        height: 25px;
    }
    .btn-class-name .front{
        font-size: 2.3vw;
    }
}